
<br>
    <h2 class="col-xs-6"><span>Receta</span> {{vm.receta.nombre}}</h2>
    <div class="col-xs-6 fechaReceta">
    <dt><span >Fecha creación</span></dt>
    <dd>
    <span>{{vm.receta.fecha | date:'medium'}}</span>
    </dd>
    </div>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">


        <dd>
            <div ng-if="vm.receta.imagen">
                <a ng-click="vm.openFile(vm.receta.imagenContentType, vm.receta.imagen)">
                    <img data-ng-src="{{'data:' + vm.receta.imagenContentType + ';base64,' + vm.receta.imagen}}"  style="height: 500px ;"width="600px;"/>
                </a>
            </div>
        </dd>
        <dt><span >Elaboración</span></dt>
        <dd>
            <span>{{vm.receta.descripcion}}</span>
        </dd>
        <div id="creadoPor">
            <dt ><span>Creado por</span></dt>
            <dd>
                {{vm.receta.user.firstName}}
            </dd>
        </div>

    </dl>
    <div class="col-xs-12 no-padding-left">
        <button class="btn btn-primary" ui-sref="comentario.receta" >
            <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                       Comentarios
                    </span>
        </button>
    </div></br>
    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info-back">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

</div>
