<style>
    #tablaComentarios {
        display: none;
    }
    .comHover:hover{
        cursor:pointer;
    }
</style>
<script>
    function myFunction() {
        document.getElementById("tablaComentarios").style.display = "block";
    }

</script>
<div>
<br>
    <h2 class="col-xs-6"><span>Receta</span> {{vm.receta.nombre}}</h2>
    <div class="col-xs-6 fechaReceta">
    <dt><span >Fecha creación</span></dt>
    <dd>
    <span>{{vm.receta.fecha | date:'medium'}}</span>
    </dd>
    </div>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">


        <dd>
            <div ng-if="vm.receta.imagen">
                <a ng-click="vm.openFile(vm.receta.imagenContentType, vm.receta.imagen)">
                    <img data-ng-src="{{'data:' + vm.receta.imagenContentType + ';base64,' + vm.receta.imagen}}"  style="height: 500px ;"width="600px;"/>
                </a>
            </div>
        </dd>
        <dt><span >Elaboración</span></dt>
        <dd>
            <span>{{vm.receta.descripcion}}</span>
        </dd>
        <div id="creadoPor">
            <dt ><span>Creado por</span></dt>
            <dd>
                {{vm.receta.user.firstName}}
            </dd>
        </div>

    </dl>
    <div class="col-xs-12 no-padding-left">
        <button onclick="myFunction()" class="btn btn-primary" ng-click="vm.actions.getComentarios(vm.receta.id)" >
            <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                       Comentarios
                    </span>
        </button>
    </div></br>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info-back">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <div id="tablaComentarios" class="table-responsive">
        <h2>Comentarios</h2>
        <table class="jh-table table table-striped">
            <tbody>
            <tr ng-repeat="comentario in vm.comentarios track by comentario.id">
                <td class="comHover" ui-sref="comentario-detail({id:comentario.id})">{{comentario.texto}}</td>
                <td>{{comentario.user.firstName}}</td>
                <td>{{comentario.fecha | date:'medium'}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
