
<div>
    <h2> {{vm.producto.nombre}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dd>
            <div ng-if="vm.producto.imagen">
                <a ng-click="vm.openFile(vm.producto.imagenContentType, vm.producto.imagen)">
                    <img data-ng-src="{{'data:' + vm.producto.imagenContentType + ';base64,' + vm.producto.imagen}}" style="height: 500px ;"width="600px;"/>
                </a>
            </div>
        </dd>
        <dt><span translate="ecofruitApp.producto.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{vm.producto.descripcion}}</span>
        </dd>

        <dt><span translate="ecofruitApp.producto.precio">Precio</span></dt>
        <dd>
            <span>{{vm.producto.precio}} euro(s)</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info-back">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
